<ion-header>
  <ion-toolbar color="secondary">

    <ion-buttons start>
    	<button ion-button icon-only (click)="volver()">
        <ion-icon name="exit"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Documentos</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding style="background-color:#40CA61;">
<br>

<ion-card>
  <ion-card-header text-center>
  	Lista de Documentos
  </ion-card-header>

  <ion-card-content>

  <ion-list>
  	<ion-item-sliding>
      		<ion-item>
      			<h2>Titulo del Documento</h2>
      			<br>
      			 <button ion-button round outline>Desliza para ver Opciones</button>
      		</ion-item>
        <ion-item-options slide="left"> 
          <button ion-button color="primary" (click)="newDocument()">
              <ion-icon name="add-circle"></ion-icon>
              Add
          </button>
          
          <button ion-button color="primary" (click)="detalleDocumento()">
              <ion-icon name="search"></ion-icon>
              Ver
          </button>
        </ion-item-options>
  	</ion-item-sliding>

    <ion-item-sliding *ngFor="let documents of documents">
          <ion-item>
            <h2>{{ documents.archivo_nombre }}</h2>
            <br>
             <button ion-button round outline>Desliza para ver Opciones</button>
          </ion-item>
       <ion-item-options slide="left"> 
          <button ion-button color="primary" (click)="newDocument()">
              <ion-icon name="add-circle"></ion-icon>
              Add
          </button>
          
          <button ion-button color="primary"  (click)="detalleDocumento()">
              <ion-icon name="search"></ion-icon>
              Ver
          </button>
        </ion-item-options>
    </ion-item-sliding>
</ion-list>
		
</ion-card-content>
</ion-card>
</ion-content>
