<!--
  Generated template for the ErrorReportingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-toolbar>
 <ion-buttons start>
    <button ion-button icon-only (click)="close()">
        <ion-icon name="exit"></ion-icon>
      </button>
</ion-buttons>
    <ion-title>Reporte de Erores</ion-title>
</ion-toolbar>

<ion-content padding>


    <ion-card>
      <img src="../../assets/imgs/icono.png"/>
      <ion-card-content>
       Desde In-Ova SAS promovemos la productividad y facilitamos la toma de decisiones brindando soluciones de base tecnológica que simplifican el recaudo y la gestión de información. 
      </ion-card-content>
    </ion-card>


	<ion-list>

	  <ion-item>
	    <ion-label stacked>Reporte de Error</ion-label>
	    <ion-input type="text"></ion-input>
	  </ion-item>

	  <button ion-button small color="danger">Enviar reporte de Error</button>

	</ion-list>


</ion-content>
