<ion-header>
  <ion-toolbar color="secondary">

    <ion-buttons start>
    	<button ion-button icon-only (click)="close()">
        <ion-icon name="exit"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>Documentos</ion-title>

  </ion-toolbar>
</ion-header>


<ion-content padding>
<br>

<ion-card>
  <ion-card-header text-center>
  	Lista de Documentos
  </ion-card-header>

  <ion-card-content>

  <ion-list>
  	<ion-item-sliding *ngFor = "let data of data">
  		<ion-item>
  			<ion-avatar item-start>
  				<button ion-fab color="secondary">
		      		<ion-icon name="document" ></ion-icon>
		    	</button>
  			</ion-avatar>
  			<h2>{{ data.archivo_nombre }}</h2>
  			<br>
        <p>{{ data.fecha_descarga }}</p>
  			 <button ion-button round outline>Desliza para ver Opciones</button>
  		</ion-item>
  		<ion-item-options slide="left">	
  		 	<button ion-button color="primary" (click)="openDocument(data.ubicacion)">
		        <ion-icon name="document"></ion-icon>
		     </button>
  		</ion-item-options>
  	</ion-item-sliding>
</ion-list>
		
  </ion-card-content>

</ion-card>
</ion-content>
