<!--
  Generated template for the ReganimalesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Registro de Producto</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

	<ion-list>
		 <ion-item>
		    <ion-label stacked>Numero del Producto</ion-label>
		    <ion-input type="number"></ion-input>
	  	</ion-item>
	  	<br>
	  	 <!--<ion-item>
		    <ion-label stacked>Fecha Ultimo Parto</ion-label>
		      <ion-datetime displayFormat="MM/DD/YYYY" pickerFormat="MM/DD/YYYY"></ion-datetime>
	  	</ion-item>
	  	<br>-->
	  	<ion-item>
		      <ion-label stacked>Fecha Ultima Vacuna</ion-label>
		      <ion-datetime displayFormat="MM/DD/YYYY" pickerFormat="MM/DD/YYYY"></ion-datetime>
	  	</ion-item>
	  	<br>
	  	<ion-item>
		      <ion-label stacked>Fecha de Nacimiento</ion-label>
		      <ion-datetime displayFormat="MM/DD/YYYY" pickerFormat="MM/DD/YYYY"></ion-datetime>
	  	</ion-item>
	  	<br>
	  	<!--
	  	<ion-item>
	  		<ion-label stacked>Temperatura de la Leche (ªgrados)</ion-label>
			<ion-range [(ngModel)]="singleValue" color="secondary" pin="true"></ion-range>
		</ion-item>
		<br>
	-->
		<ion-item>
		  <ion-label stacked>Paso control de Vacunas?</ion-label>
		  <ion-checkbox color="dark" checked="true"></ion-checkbox>
		</ion-item>
		<br>
		
		<ion-item>
		      <ion-label stacked>Estado del Producto</ion-label>
		    <ion-select [(ngModel)]="gaming">
		      <ion-option value="nes">Buen Estado</ion-option>
		      <ion-option value="n64">Estado Medio</ion-option>
		      <ion-option value="ps">Mal Estado</ion-option>
		    </ion-select>
		 </ion-item>
		
		 <br>
		 <ion-item>
		  <ion-label stacked>Aprobado por el productor</ion-label>
		  <ion-toggle  checked="false"></ion-toggle>
		</ion-item>
		<br>
		<ion-item>
		      <ion-label stacked>Fecha de Ingreso</ion-label>
		      <ion-datetime displayFormat="MM/DD/YYYY" pickerFormat="MM/DD/YYYY"></ion-datetime>
	  	</ion-item>
	  	<br>
	  	 <ion-item>
		  <ion-label stacked>Producto listo para Reproduccion</ion-label>
		  <ion-toggle  checked="false"></ion-toggle>
		</ion-item>
		<br><br>
		<button ion-button block color="secondary" (click)="guardar()">Guardar Datos</button>
				
	</ion-list>


</ion-content>
