<!--
  Generated template for the RegmedicosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Registros Medicos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

<ion-list>
<br><br>
  <ion-item>
    <ion-thumbnail item-start>
      <img src="../../assets/imgs/vaca.jpg">
    </ion-thumbnail>
    <h2>2131423</h2>
    <p>12/11/10</p>
    <button ion-button clear item-end (click)="modal()">+ Medicamento</button>
  </ion-item>
  <ion-item>
    <ion-thumbnail item-start>
      <img src="../../assets/imgs/vaca.jpg">
    </ion-thumbnail>
    <h2>2131423</h2>
   <p>12/11/10</p>
    <button ion-button clear item-end>+ Medicamento</button>
  </ion-item>
  <ion-item>
    <ion-thumbnail item-start>
      <img src="../../assets/imgs/vaca.jpg">
    </ion-thumbnail>
    <h2>2131423</h2>
   <p>12/11/10</p>
    <button ion-button clear item-end>+ Medicamento</button>
  </ion-item>
  <ion-item>
    <ion-thumbnail item-start>
      <img src="../../assets/imgs/vaca.jpg">
    </ion-thumbnail>
    <h2>2131423</h2>
    <p>12/11/10</p>
    <button ion-button clear item-end>+ Medicamento</button>
  </ion-item>


</ion-list>

	
</ion-content>
