<!--
  Generated template for the SelectionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


  <ion-header>
	  <ion-toolbar>
	    <ion-buttons start>
	      <button ion-button icon-only color="danger" (click)="salir()">
	        <ion-icon name="log-out" ></ion-icon>Exit.
	      </button>
	    </ion-buttons>
	  </ion-toolbar>
</ion-header>


<ion-content padding>
	<br><br><br>
	 <ion-title text-center>Bienvenido Usuario</ion-title>
	 <ion-item text-center>
	 	¿A que apartado deseas Entrar?
	 </ion-item>
	<br><br>
	<ion-card>
	  <ion-card-content>
	   <button ion-button block color="secondary" (click)="bgpcarne()" class="select-button">Bgp Carne</button>
		<br>
		<button ion-button block  color="secondary" (click)="bovinos()" class="select-button">Impulse Bovinos</button>
		<br>
		<button ion-button block  color="secondary" (click)="buenaspract()" class="select-button">Impulse Buenas Pract.</button>
		<br>
		<button ion-button block  color="secondary" (click)="cerdos()" class="select-button">Impulse Cerdos</button>
		<br>
	  </ion-card-content>
	
	</ion-card>
	
</ion-content>
