<!--
  Generated template for the DetallesmodalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button icon-only (click)="volver()" color="secondary">
        <ion-icon name="exit"></ion-icon>
      </button>
  </ion-navbar>

</ion-header>


<ion-content padding>


<ion-card>
  <ion-fab right top>
    <button ion-fab color="secondary">
      <ion-icon name="search" ></ion-icon>
    </button>
  </ion-fab>

  <ion-item>
    <h2> Item Numero 12341234</h2>
    <p>Registrado el dia 12/1/2018</p>
  </ion-item>

  <ion-item>
    <ion-icon name="bookmark" item-left large ></ion-icon>
    <h2>Vacunado</h2>
    <p>Fecha de nacimiento :12/1/2018 </p>
     <p>Fecha de Ultima Vacuna: 12/1/2018</p>
      <p>Control de Vacunas Aprobado</p>
       <p>Estado: Buen Estado</p>
  </ion-item>

  <ion-item>
    <span item-left>18 min</span>
    <span item-left>(2.6 mi)</span>
    <button ion-button icon-left clear item-end color="secondary">
      <ion-icon name="navigate"></ion-icon>
     Listo para Produccion
    </button>
  </ion-item>

</ion-card>


</ion-content>
