<!--
  Generated template for the DetalledocumentoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Detalles del registro</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

<ion-list>
  <h2>Lista de Documentos</h2>
   <ion-item *ngFor = " let document of documentos ">
            <h2>{{ document.direccion_archivo }}</h2>
            <br>
            <p>{{ document.cmentario_archivo }}</p>
             <button ion-button round outline> {{ document.fecha_vencimiento }}</button>
    </ion-item>
</ion-list>



</ion-content>
