<!--
  Generated template for the ModalpagePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Medicamento</ion-title>
     <ion-buttons end>
  	  <button ion-button (click)="close()">Volver</button>
	</ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

	<ion-list>
		 <ion-item>
		    <ion-label stacked>Numero del Bovino</ion-label>
		    <ion-input type="number"></ion-input>
	  	</ion-item>
	  	<br>
	  	 <ion-item>
		    <ion-label stacked>Fecha de Colocacion del Medicamento</ion-label>
		      <ion-datetime displayFormat="MM/DD/YYYY" pickerFormat="MM/DD/YYYY"></ion-datetime>
	  	</ion-item>
	  	<br>
		<ion-item>
		  <ion-label stacked>Prueba de Control de Bacterias</ion-label>
		  <ion-checkbox color="dark" checked="true"></ion-checkbox>
		</ion-item>
		<br>
		<ion-item>
		      <ion-label stacked>Medicamento a Colocar</ion-label>
		    <ion-select [(ngModel)]="gaming">
		      <ion-option value="nes">Medicamento 1 </ion-option>
		      <ion-option value="n64">Medicamento 2</ion-option>
		      <ion-option value="ps">Medicamento 3</ion-option>
		      <ion-option value="genesis">Medicamento 4</ion-option>
		    </ion-select>
		 </ion-item>
		 <br>
		 <ion-item>
		  <ion-label stacked>Aprobado por el productor</ion-label>
		  <ion-toggle  checked="false"></ion-toggle>
		</ion-item>
		<br>
		<br><br>
		<button ion-button block color="secondary" (click)="guardar()">Guardar Datos</button>
				
	</ion-list>


</ion-content>

