<ion-header>
  <ion-toolbar color="secondary">

    <ion-buttons start>
    	<button ion-button icon-only (click)="volver()">
        <ion-icon name="exit"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>Nuevo Documento</ion-title>


  </ion-toolbar>
</ion-header>


<ion-content padding>
	<ion-card>
	
	  <ion-card-header>
	    Nuevo Documento
	  </ion-card-header>
	
	  <ion-card-content>
	    <ion-list>
		  <ion-item>
		    <ion-label stacked>Pequeño Comentario</ion-label>
		    <ion-input type="text" [(ngModel)]="data.comentario"></ion-input>
		  </ion-item>

		  <ion-item>
			  <ion-label>Fecha de Vencimiento</ion-label>
			  <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="data.fecha_vencimiento"></ion-datetime>
		</ion-item>


			<ion-label >Adjuntar Archivo</ion-label>
				   	<button ion-button color="secondary" (click)="abrir_documento()"><ion-icon name="document"></ion-icon></button>
				    <button ion-button color="secondary" (click)="abrir_camara()"><ion-icon name="camera"></ion-icon></button>
			<ion-item class="img">
			  <img [src]="image" *ngIf="image" />
			</ion-item>
			<br><br>
		<button ion-button block color="secondary" (click)="guardar()">Subir Archivo</button>
		</ion-list>
	  </ion-card-content>
	
	</ion-card>

</ion-content>
