page-home {

}

.icono {
	margin-top:15px;
    height:150px;
    width: 150px;



}

.login-button{

	font-color:green;
	border-radius:20px;
}


.sombra{

	 -webkit-box-shadow: 10px 42px 77px -5px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 42px 77px -5px rgba(0,0,0,0.75);
box-shadow: 10px 42px 77px -5px rgba(0,0,0,0.75);
}

/*
*/