
<ion-content padding padding class="main-content" id="main-content" style="background-color:#40CA61;">
<ion-grid>
	<ion-row text-center>
		<ion-col>
			  	<img src="assets/imgs/innova.png" class="icono"/>
			  			<br><br>

					<ion-title text-center>
						<p style="color:white;">Api Productor</p>
					</ion-title>
		</ion-col>

	</ion-row>
	<ion-row text-center >
		<ion-col>
			<form (ngSubmit)="signing()">
				<ion-card class="card_login">

				  <ion-card-content class="sombra">
				    <!-- Add card content here! -->

				    <ion-item>
					    <ion-label floating><ion-icon name="contact" class="font"></ion-icon> Username</ion-label>
					    <ion-input type="text" value="" [(ngModel)]="datos.username" name="username"></ion-input>
					  </ion-item>

					  <ion-item>
					    <ion-label floating><ion-icon name="key"  class="font"></ion-icon>  Password</ion-label>
					    <ion-input type="password" [(ngModel)]="datos.password" name="password"></ion-input>
					  </ion-item>

				  </ion-card-content>
				</ion-card>
					  <br>
					  <button ion-button block class="login-button" color="secondary">Login</button>
			</form>
		</ion-col>
	</ion-row>
</ion-grid>

<div class="bar bar-footer bar-balanced">
    <ion-row text-center>
    	<ion-col style="color:white;">
    		@CopyRyght INNOVA
    	</ion-col>
    </ion-row>
</div>

</ion-content>
