<!--
  Generated template for the ConfigurationsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Configuracion de Cuenta</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>


    <p style="text-justify">
        Reproductor es una aplicacion basada en la administracion de tus registros diarios,
        asi como de tus archivos podras acceder y tener un mayor control junto a nosotros.
     </p>

      

      <ion-list>
      <ion-item>
        <ion-avatar item-start>
          <ion-icon name="contact"></ion-icon>
        </ion-avatar>
        <h2>Nombre de Usuarior</h2>
        <p>Ubicacion de mi Trabajo</p>
        <p>+5623-423-13-45</p>
        <p>email@email.com</p>
      </ion-item>
    </ion-list>


      <ion-list>
        <ion-item>
          <ion-input type="text" placeholder="Username"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input type="text" placeholder="Password"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input type="text" placeholder="Correo@correo.com"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input type="number" placeholder="+5623-423-13-45"></ion-input>
        </ion-item>
       
        <ion-item>
          <ion-input type="text" placeholder="Ubicacion"></ion-input>
        </ion-item>
        <br><br>
         <ion-item>
            <button ion-button full color="secondary">Actualizar Datos</button>
        </ion-item>
    </ion-list>

    

</ion-content>


<ion-footer>
  <ion-toolbar>
   	<button ion-button full color="danger" (click)="error_reporting()">Reporte de Errores</button>
  </ion-toolbar>
</ion-footer>
