<!--
  Generated template for the ReganimalesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Inventario Medico</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

	<ion-list>
		 <ion-item>
		    <ion-label stacked>Medicina</ion-label>
		    <ion-input type="text"></ion-input>
	  	</ion-item>
	  	<br>
	  	 <ion-item>
		    <ion-label stacked>Fecha de Caducidad</ion-label>
		      <ion-datetime displayFormat="MM/DD/YYYY" pickerFormat="MM/DD/YYYY"></ion-datetime>
	  	</ion-item>
	  	<br>
	  	<ion-item>
	  		<ion-label stacked>Temperatura promedio (ªgrados)</ion-label>
			<ion-range [(ngModel)]="singleValue" color="secondary" pin="true"></ion-range>
		</ion-item>
		<br>
		<ion-item>
		  <ion-label stacked>Prueba de Control de Bacterias</ion-label>
		  <ion-checkbox color="dark" checked="true"></ion-checkbox>
		</ion-item>
		<br>
		<ion-item>
		      <ion-label stacked>Tipo de Medicamento</ion-label>
		    <ion-select [(ngModel)]="gaming">
		      <ion-option value="nes">Antibiotico</ion-option>
		      <ion-option value="n64">Vacuna</ion-option>
		      <ion-option value="ps">Desinfectante</ion-option>
		      <ion-option value="genesis">Analgesico</ion-option>
		      <ion-option value="genesis">Desparacitante</ion-option>
		    </ion-select>
		 </ion-item>
		 <br>
		 <ion-item>
		  <ion-label stacked> Switch </ion-label>
		  <ion-toggle  checked="false"></ion-toggle>
		</ion-item>
		<br>
		<br><br>
		<button ion-button block color="secondary" (click)="guardar()">Guardar Datos</button>
				
	</ion-list>


</ion-content>
