<!--
  Generated template for the BgpcarnePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
 <ion-header>
	  <ion-toolbar>
	    <ion-buttons start>
	      <button ion-button icon-only color="secondary" (click)="salir()">
	        <ion-icon name="log-out" ></ion-icon>Volver.
	      </button>
	    </ion-buttons>
	  </ion-toolbar>
</ion-header>

<ion-content>

	<ion-grid>
		<ion-row>
			<ion-col>
				<ion-card (click)="registros()" class="rounded" color="secondary">
				  <ion-card-content text-center >
				  		<br>
				    	<ion-icon name="ios-create"></ion-icon>
				    	<br>
				    	<h3>Registros</h3>
				  </ion-card-content>
				</ion-card>
			</ion-col>
			<ion-col>
				<ion-card (click)="documentos()"  class="rounded" color="secondary">
				   <ion-card-content text-center >
				  		<br>
				    	<ion-icon name="md-calendar"></ion-icon>
				    	<br>
				    	<h3>Documentos</h3>
				  </ion-card-content>
				</ion-card>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<ion-card (click)="protocolo()"  class="rounded" color="secondary">
				  <ion-card-content text-center >
				  		<br>
				    	<ion-icon name="albums"></ion-icon>
				    	<br>
				    	<h3>Protocolos</h3>
				  </ion-card-content>
				</ion-card>
			</ion-col>
			<ion-col>
				<ion-card (click)="biblioteca()"  class="rounded" color="secondary">
				   <ion-card-content text-center >
				  		<br>
				    	<ion-icon name="book"></ion-icon>
				    	<br>
				    	<h3>Biblioteca</h3>
				  </ion-card-content>
				</ion-card>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<ion-card (click)="configurations()" class="rounded" color="danger">
				   <ion-card-content text-center >
				  		<br>
				    	<ion-icon name="build"></ion-icon>
				    	<br>
				    	<h3>Configuracion</h3>
				  </ion-card-content>
				</ion-card>
			</ion-col>
			<ion-col>
				<ion-card (click)="calendario()" class="rounded" color="secondary">
				  <ion-card-content text-center >
				  		<br>
				    	<ion-icon name="md-calendar"></ion-icon>
				    	<br>
				    	<h3>Cronograma</h3>
				  </ion-card-content>
				</ion-card>
			</ion-col>
		</ion-row>
	</ion-grid>
	

 

</ion-content>


<ion-footer>
  <ion-toolbar>
    <p>@CopyRyght INNOVA 2018</p>
    <ion-buttons end>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
