<!--
  Generated template for the RegistrosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar color="secondary">

    <ion-buttons start>
    <button ion-button icon-only (click)="volver()">
        <ion-icon name="exit"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title></ion-title>

    <ion-buttons end>
      <button ion-button small item-end icon-left class="rounded" color="light" (click)="historial()">Historial de Registros</button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content style="background-color:#F6FAF7;">

 


<ion-list>
  <br><br>
  <ion-item>
    <h2>#423425324</h2>
    <p>12/11/2018</p>
   <button ion-button outline item-end icon-left class="rounded" color="secondary" (click)="modal()"><ion-icon name="add"></ion-icon> Medicamento</button>
  </ion-item>

   <ion-item>
    <h2>#24534123</h2>
     <p>12/11/2018</p>
   <button ion-button outline item-end icon-left class="rounded" color="secondary" (click)="modal()"><ion-icon name="add"></ion-icon> Medicamento</button>
  </ion-item>

   <ion-item>
    <h2>#44235234</h2>
    <p>12/11/2018</p>
   <button ion-button outline item-end icon-left class="rounded" color="secondary" (click)="modal()"><ion-icon name="add"></ion-icon> Medicamento</button>
  </ion-item>

   <ion-item>
    <h2>#42314213</h2>
    <p>12/11/2018</p>
   <button ion-button outline item-end icon-left class="rounded" color="secondary" (click)="modal()"><ion-icon name="add"></ion-icon> Medicamento</button>
  </ion-item>

   <ion-item>
    <h2>#241231441</h2>
    <p>12/11/2018</p>
   <button ion-button outline item-end icon-left class="rounded" color="secondary" (click)="modal()"><ion-icon name="add"></ion-icon> Medicamento</button>
  </ion-item>
</ion-list>



 <ion-fab right bottom>
    <button ion-fab color="secondary"><ion-icon name="arrow-dropleft"></ion-icon></button>
    <ion-fab-list side="left">
      <button ion-fab color="secondary" (click)="inventariomed()"><ion-icon name="flask"></ion-icon>+</button>
      <button ion-fab color="secondary"  (click)="animales()"> <ion-icon name="paw"></ion-icon>+</button>
    </ion-fab-list>
  </ion-fab>


</ion-content>

