<!--
  Generated template for the LogRegistrosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar color="secondary">

    <ion-buttons start>
    <button ion-button icon-only (click)="volver()">
        <ion-icon name="exit"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title></ion-title>

    <ion-buttons end>
     
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content style="background-color:#F6FAF7;">

 


<ion-list>
  <br><br>
 <ion-item>
    <h2>My Neighbor Totoro</h2>
    <p>12/11/2018</p>
   <button ion-button outline item-end icon-left class="rounded" color="secondary" (click)="modal()"><ion-icon name="add"></ion-icon> Detalles</button>
  </ion-item>


  <ion-item>
    <h2>My Neighbor Totoro</h2>
    <p>12/11/2018</p>
   <button ion-button outline item-end icon-left class="rounded" color="secondary" (click)="modal()"><ion-icon name="add"></ion-icon> Detalles</button>
  </ion-item>

   <ion-item>
    <h2>My Neighbor Totoro</h2>
    <p>12/11/2018</p>
   <button ion-button outline item-end icon-left class="rounded" color="secondary" (click)="modal()"><ion-icon name="add"></ion-icon> Detalles</button>
  </ion-item>


   <ion-item>
    <h2>My Neighbor Totoro</h2>
    <p>12/11/2018</p>
   <button ion-button outline item-end icon-left class="rounded" color="secondary" (click)="modal()"><ion-icon name="add"></ion-icon> Detalles</button>
  </ion-item>


  <ion-item>
    <h2>My Neighbor Totoro</h2>
    <p>12/11/2018</p>
   <button ion-button outline item-end icon-left class="rounded" color="secondary" (click)="modal()"><ion-icon name="add"></ion-icon> Detalles</button>
  </ion-item>

</ion-list>



</ion-content>

